.header {
    background-color: #2A2F4F;
    color: #ffffff;
    box-shadow: 0px 0px 30px #2A2F4F;
    padding: 10px 20px;
    z-index: 1;
}

.header--top {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    align-self: center;
}

.header__circle-mask {
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50% 50% 50% 50%;
    box-shadow: none;
}

.header__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__title {
    width: 100%;
    box-shadow: none;
    font-family: "Aquire";
    font-size: 16px;
}

.header__nav {
    display: flex;
    flex-wrap: nowrap;
}

.header__nav-item {
    min-width: 110px;
    text-align: center;
    font-family: "Aquire";
    font-size: 16px;
}

.home {
    background-color: rgba(12, 19, 79, 0.8);
    color: #ffffff;
    margin-top: 70px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.home__background {
    background-image: url(../Assets/HomeBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: inherit;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.home__text {
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home__title {
    margin-bottom: 20px;
}

.home__description {
    font-size: 32px;
    margin-bottom: 20px;
}

.home__button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 100px;
}


.home__button--start {
    margin-right: 20px;
    height: 70px;
    padding: 0px 20px;
    font-size: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: #D4ADFC;
    background-color: transparent;
    color: #D4ADFC;
    cursor: pointer;
}

.home__button--pricing {
    margin-right: 20px;
    height: 70px;
    padding: 0px 20px;
    font-size: 20px;
    border-style: solid;
    border-radius: 20px;
    background-color: #D4ADFC;
    border-color: #D4ADFC;
    color: #000000;
    cursor: pointer;
}

.home__button--pricing:hover {
    border-color: #ffffff;
    background-color: #D4ADFC;
    color: #000000;
}

.home__button--start:hover {
    border-color: #ffffff;
    background-color: #D4ADFC;
    color: #000000;
}

.home__image-mask {
    height: 300px;
    overflow: hidden;
    flex: 0 0 auto;
}

.home__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
    border-radius: 20px;
}

.about {
    background-color: #0C134F;
    color: #ffffff;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: visible;
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

.about__container {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 100px;

}

.about__container--equal>* {
    flex: 1;
}

.about__text {
    text-align: left;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about__title {
    font-size: 32px;
    margin-bottom: 30px;
}

.about__description {
    font-size: 20px;
    margin-bottom: 30px;
}

.about__img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
}

.about__img--left {
    display: flex;
    flex-direction: row-reverse;
}

.about__img--right {
    display: flex;
    flex-direction: row;
}

.about__img-item {
    width: 300px;
    margin-bottom: 20px;
}

@font-face {
    font-family: California;
    src: url(../Assets/Fonts/CaliforniaPersonalUseRegular-L37ED.ttf);
}

@font-face {
    font-family: MetalSmith;
    src: url(../Assets/Fonts/MetalsmithRegular-x3yMq.ttf);
}

@font-face {
    font-family: Aquire;
    src: url(../Assets/Fonts/Aquire-BW0ox.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}