.header {
    background-color: #2A2F4F;
    color: #ffffff;
    box-shadow: 0px 0px 30px #2A2F4F;
    padding: 10px 20px;
}

.header--top {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    align-self: center;
}

.header__circle-mask {
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50% 50% 50% 50%;
    box-shadow: none;
}

.header__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__title {
    width: 100%;
    box-shadow: none;
    font-family: "Aquire";
}

.header__nav {
    display: flex;
}

.header__nav-item {
    min-width: 110px;
    text-align: center;
    font-family: "Aquire";
    font-size: 20px;
}

.home {
    background-color: #1D267D;
    color: #ffffff;
    margin-top: 70px;
}

.home__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@font-face {
    font-family: California;
    src: url(../Assets/Fonts/CaliforniaPersonalUseRegular-L37ED.ttf);
}

@font-face {
    font-family: MetalSmith;
    src: url(../Assets/Fonts/MetalsmithRegular-x3yMq.ttf);
}

@font-face {
    font-family: Aquire;
    src: url(../Assets/Fonts/Aquire-BW0ox.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}